body {
    margin: 0px;
    background-image: none;
    position: relative;
    left: -833px;
    width: 1606px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#base {
    position: absolute;
    z-index: 0;
}

#u225 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u227_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 64px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u227 {
    border-width: 0px;
    position: absolute;
    left: 833px;
    top: 154px;
    width: 375px;
    height: 64px;
    display: flex;
}

#u227 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u227_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u228 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u229_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 44px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FFFFFF;
}

#u229 {
    border-width: 0px;
    position: absolute;
    left: 833px;
    top: 174px;
    width: 375px;
    height: 44px;
    display: flex;
    font-size: 18px;
    color: #FFFFFF;
}

#u229 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u229_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u230_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
}

#u230 {
    border-width: 0px;
    position: absolute;
    left: 899px;
    top: 185px;
    width: 33px;
    height: 22px;
    display: flex;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
}

#u230 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u230_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#u231_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 18px;
}

#u231 {
    border-width: 0px;
    position: absolute;
    left: 843px;
    top: 187px;
    width: 10px;
    height: 18px;
    display: flex;
}

#u231 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u231_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u232_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
}

#u232 {
    border-width: 0px;
    position: absolute;
    left: 857px;
    top: 185px;
    width: 33px;
    height: 22px;
    display: flex;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
}

#u232 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u232_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#u233_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 22px;
    height: 5px;
}

#u233 {
    border-width: 0px;
    position: absolute;
    left: 1171px;
    top: 194px;
    width: 22px;
    height: 5px;
    display: flex;
}

#u233 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u233_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u235 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u236_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 20px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
}

#u236 {
    border-width: 0px;
    position: absolute;
    left: 833px;
    top: 154px;
    width: 375px;
    height: 20px;
    display: flex;
    color: #FFFFFF;
}

#u236 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u236_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u237_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 20px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
}

#u237 {
    border-width: 0px;
    position: absolute;
    left: 833px;
    top: 154px;
    width: 375px;
    height: 20px;
    display: flex;
    color: #FFFFFF;
}

#u237 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u237_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u238_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 10px;
}

#u238 {
    border-width: 0px;
    position: absolute;
    left: 1177px;
    top: 159px;
    width: 25px;
    height: 10px;
    display: flex;
}

#u238 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u238_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u239_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 29px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 11px;
    color: #FFFFFF;
    text-align: right;
}

#u239 {
    border-width: 0px;
    position: absolute;
    left: 1141px;
    top: 156px;
    width: 29px;
    height: 16px;
    display: flex;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 11px;
    color: #FFFFFF;
    text-align: right;
}

#u239 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u239_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#u240_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 53px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 11px;
    color: #FFFFFF;
}

#u240 {
    border-width: 0px;
    position: absolute;
    left: 995px;
    top: 156px;
    width: 53px;
    height: 16px;
    display: flex;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 11px;
    color: #FFFFFF;
}

#u240 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u240_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#u241_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 12px;
    height: 9px;
}

#u241 {
    border-width: 0px;
    position: absolute;
    left: 935px;
    top: 160px;
    width: 12px;
    height: 9px;
    display: flex;
}

#u241 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u241_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u242_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 11px;
    color: #FFFFFF;
    text-align: left;
}

#u242 {
    border-width: 0px;
    position: absolute;
    left: 883px;
    top: 156px;
    width: 45px;
    height: 16px;
    display: flex;
    font-family: 'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 11px;
    color: #FFFFFF;
    text-align: left;
}

#u242 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u242_text {
    border-width: 0px;
    white-space: nowrap;
    text-transform: none;
}

#u243_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 6px;
}

#u243 {
    border-width: 0px;
    position: absolute;
    left: 839px;
    top: 161px;
    width: 37px;
    height: 6px;
    display: flex;
}

#u243 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u243_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u244 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u245_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 603px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
}

#u245 {
    border-width: 0px;
    position: absolute;
    left: 833px;
    top: 218px;
    width: 375px;
    height: 603px;
    display: flex;
    font-size: 12px;
}

#u245 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u245_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u246_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 315px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 11px;
    color: #A9A9A9;
}

#u246 {
    border-width: 0px;
    position: absolute;
    left: 863px;
    top: 789px;
    width: 315px;
    height: 16px;
    display: flex;
    font-size: 11px;
    color: #A9A9A9;
}

#u246 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u246_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u247 {
    position: absolute;
    left: 833px;
    top: 821px;
}

#u247_state0 {
    position: relative;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 50px;
    background-image: none;
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u247_state0_content {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u248 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u249_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 50px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto-Regular', 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#u249 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 50px;
    display: flex;
    font-family: 'Roboto-Regular', 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#u249 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u249_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u250_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 125px;
    height: 50px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
}

#u250 {
    border-width: 0px;
    position: absolute;
    left: 250px;
    top: 0px;
    width: 125px;
    height: 50px;
    display: flex;
    font-size: 15px;
}

#u250 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u250_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u251_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2px;
    height: 51px;
}

#u251 {
    border-width: 0px;
    position: absolute;
    left: 250px;
    top: 0px;
    width: 1px;
    height: 50px;
    display: flex;
}

#u251 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u251_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u252_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 125px;
    height: 50px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
}

#u252 {
    border-width: 0px;
    position: absolute;
    left: 1px;
    top: 0px;
    width: 125px;
    height: 50px;
    display: flex;
    font-size: 15px;
}

#u252 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u252_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u253_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2px;
    height: 51px;
}

#u253 {
    border-width: 0px;
    position: absolute;
    left: 125px;
    top: 0px;
    width: 1px;
    height: 50px;
    display: flex;
}

#u253 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u253_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u254_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 125px;
    height: 50px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
}

#u254 {
    border-width: 0px;
    position: absolute;
    left: 126px;
    top: 0px;
    width: 125px;
    height: 50px;
    display: flex;
    font-size: 15px;
}

#u254 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u254_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u255_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 125px;
    height: 50px;
    background: inherit;
    background-color: rgba(234, 234, 234, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
}

#u255 {
    border-width: 0px;
    position: absolute;
    left: 833px;
    top: 821px;
    width: 125px;
    height: 50px;
    display: flex;
    font-size: 15px;
}

#u255 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u255_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u256_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 50px;
}

#u256 {
    border-width: 0px;
    position: absolute;
    left: 833px;
    top: 572px;
    width: 375px;
    height: 50px;
    display: flex;
    font-size: 18px;
    color: #09BB07;
}

#u256 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u256_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u257_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2px;
    height: 51px;
}

#u257 {
    border-width: 0px;
    position: absolute;
    left: 1020px;
    top: 572px;
    width: 1px;
    height: 50px;
    display: flex;
}

#u257 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u257_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u258_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 13px;
    height: 10px;
}

#u258 {
    border-width: 0px;
    position: absolute;
    left: 2411px;
    top: 3031px;
    width: 13px;
    height: 10px;
    display: flex;
}

#u258 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u258_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u259 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u260_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 88px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    color: #FFFFFF;
}

#u260 {
    border-width: 0px;
    position: absolute;
    left: 1664px;
    top: 3680px;
    width: 375px;
    height: 88px;
    display: flex;
    font-size: 14px;
    color: #FFFFFF;
}

#u260 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u260_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u261 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u262_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 58px;
    height: 58px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(201, 201, 201, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #C9C9C9;
}

#u262 {
    border-width: 0px;
    position: absolute;
    left: 1874px;
    top: 3695px;
    width: 58px;
    height: 58px;
    display: flex;
    font-size: 18px;
    color: #C9C9C9;
}

#u262 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u262_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u263_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
}

#u263 {
    border-width: 0px;
    position: absolute;
    left: 1889px;
    top: 3710px;
    width: 28px;
    height: 28px;
    display: flex;
}

#u263 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u263_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u264_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 58px;
    height: 58px;
    background: inherit;
    background-color: rgba(223, 223, 223, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #C9C9C9;
}

#u264 {
    border-width: 0px;
    position: absolute;
    left: 1679px;
    top: 3695px;
    width: 58px;
    height: 58px;
    display: flex;
    font-size: 18px;
    color: #C9C9C9;
}

#u264 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u264_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u265_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 58px;
    height: 58px;
    background: inherit;
    background-color: rgba(102, 102, 102, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #C9C9C9;
}

#u265 {
    border-width: 0px;
    position: absolute;
    left: 1744px;
    top: 3695px;
    width: 58px;
    height: 58px;
    display: flex;
    font-size: 18px;
    color: #C9C9C9;
}

#u265 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u265_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u266 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u267_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 58px;
    height: 58px;
    background: inherit;
    background-color: rgba(102, 102, 102, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #C9C9C9;
}

#u267 {
    border-width: 0px;
    position: absolute;
    left: 1809px;
    top: 3695px;
    width: 58px;
    height: 58px;
    display: flex;
    font-size: 18px;
    color: #C9C9C9;
}

#u267 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u267_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u268_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
}

#u268 {
    border-width: 0px;
    position: absolute;
    left: 1826px;
    top: 3712px;
    width: 24px;
    height: 24px;
    display: flex;
    font-size: 14px;
    color: #FFFFFF;
}

#u268 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u268_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u269 {
    position: absolute;
    left: 2064px;
    top: 3660px;
}

#u269_state0 {
    position: relative;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 35px;
    background-image: none;
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u269_state0_content {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u270_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 35px;
    background: inherit;
    background-color: rgba(230, 67, 64, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
    color: #FFFFFF;
}

#u270 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 35px;
    display: flex;
    font-size: 15px;
    color: #FFFFFF;
}

#u270 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u270_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u271_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 148px;
    background: inherit;
    background-color: rgba(0, 0, 0, 0.698039215686274);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
}

#u271 {
    border-width: 0px;
    position: absolute;
    left: 954px;
    top: 432px;
    width: 134px;
    height: 148px;
    display: flex;
    font-size: 14px;
}

#u271 .text {
    position: absolute;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u271_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u272_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 31px;
}

#u272 {
    border-width: 0px;
    position: absolute;
    left: 1006px;
    top: 504px;
    width: 30px;
    height: 31px;
    display: flex;
}

#u272 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u272_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}

#u273_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 36px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
}

#u273 {
    border-width: 0px;
    position: absolute;
    left: 976px;
    top: 534px;
    width: 90px;
    height: 36px;
    display: flex;
    font-family: 'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
}

#u273 .text {
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

#u273_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u274_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 79px;
    height: 73px;
}

#u274 {
    border-width: 0px;
    position: absolute;
    left: 986px;
    top: 438px;
    width: 69px;
    height: 63px;
    display: flex;
}

#u274 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#u274_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}
